
*.r

*.log

.settings/

protrace.22360
._*.*
._*
PASOEContent/META-INF/

PASOEContent/WEB-INF/adapters/

PASOEContent/WEB-INF/backup/

PASOEContent/WEB-INF/jsp/

PASOEContent/WEB-INF/spring/

PASOEContent/WEB-INF/oeablSecurity.csv

PASOEContent/WEB-INF/oeablSecurity.properties

PASOEContent/WEB-INF/oeablSecurity.xml

PASOEContent/WEB-INF/security.tld

PASOEContent/WEB-INF/users.properties

PASOEContent/WEB-INF/web.xml

.dbconnection
